.content-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 125px 0 0;
    margin: 0 auto 30px;
}

.content-wrapper .buttons-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.content-wrapper .add-bubble {
    background: #2196F3;
    color: white;
    width: 126px;
    height: 40px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
    border-radius: 100px;
}
